*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Lato', sans-serif;
}
.center{
    max-width: 1142px;
    width: 100%;
    margin: 0 auto;

}
.top{
    
}
.header{
    display: flex;
    justify-content: center;
    background-color: #222222;
    
}
.menu{
    display: flex;
    justify-content: space-between;
}
.top-list-logo{
    list-style: none;
    display: flex;
    gap: 41px;
    align-items:end;
    margin: 18px 0 19px 0;
}
.top-list-logo-photo{

}
.top-menu-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 29px);
    gap: 33px;
    align-items: end;
    margin: 26px 0 20px 0;
}
.icon-menu{
    fill: #E8E8E8;
    
}
.icon-menu:hover{
    fill: #F16D7F;
}
.icon-menu:active{
    fill: #f1e4e6;
}
.relet{
    position: relative;
}
.digit{
    display: block;
    width: 19px;
    height: 19px;
    position: absolute;
    color: white;
    background-color: #F16D7F;
    border-radius: 50%;
    text-align: center;
    top: -8px;
    left: 23px;
    

}
.top-menu-photo{
    
}

.top-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 800px);
    justify-content: center;
    background-color: #f1e4e6;
    position: relative;

}
.top-wrapper-photo{
    display: flex;
    justify-content: center;
}
.top-wrapper-img{
    height: 764px;
}
.top-wrapper-name{
    display: grid;
    margin-left:16px;
}
.wrapper-right{
    display: flex;
    align-items: center;
}

.top-wrp-name{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}
.top-wrp-text{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;  
}
.fashion{
    color: #F16D7F;
}
.menu-table{
    
}
.menu-table-list{
    margin-top: 65px;
    margin-bottom: 96px;
    display: flex;
    list-style: none;
    justify-content: center;
}
.menu-list{
    max-width: 1142px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    list-style: none;
    justify-content: center;
}
.menu-table-item{
    text-transform: uppercase;
    display: grid;
    grid-row: 2;
    text-align: center;
    align-content: center;
    background:  url(../img/for-women.png);
    width: 360px;
    height: 260px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu-table-item:before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #211216;
    opacity: 70%;
}
li:nth-child(2)>.menu-table-item{
    background: url(../img/for-men.png);   
}
li:nth-child(3)>.menu-table-item{
    background: url(../img/for-kids.png);   
}
li:nth-child(4)>.menu-table-item{
    background: url(../img/accesories.png);
    width: 1138px;
    height: 180px;   
}
.menu-table-text{
    position: relative;
    color: #C4C4C4;
    font-size: 16px;
    font-weight: 400;

}
.menu-table-title{
    position: relative;
    font-size: 24px;
    font-weight: 700;

}
.product{

}
.product-header{
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.product-header-title{
    font-size: 30px;
    font-weight: 400;
    color: #222222;
}
.product-header-text{
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
}
.product-table{
    
}
.product-table-list{

    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 587px);
    gap: 30px;
    margin-top: 48px;
}
.product-table-item{
    box-sizing: border-box;
    background-color: #F8F8F8;
    padding-bottom: 24px;
}
.product-photo{
    max-height: 420px;
    height: 100%;

}
.product-photo-img{
    margin-left: 108px;
    top: -35px;
    position: relative;
    
}
.product-photo-2{
    display: block;
    max-width: 360px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    background-color: #F7E4E2;
    justify-content: center;
}
.product-photo-2:hover{
    background-color: #3A3838;
    opacity: 86%;
    .product-photo-img{
        opacity: 40%;
    }
    .button-product{
        color: #FFFFFF;
        border-color: #FFFFFF;
    }
    .button-svg{
        fill: white;
    }
}

.button-product{
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 6px 13px 39px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: transparent;
    background-color: transparent;
    border: 1px solid transparent;
    top: 180px;
    left: 114px;
    width: 139px;
    height: 44px;
    
}
.button-svg{
    top: 4px;
    left: 15px;
    position: absolute;

}

.product-title{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    margin: 24px auto auto 16px;
    
}
.product-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 16px 29px auto 16px;
    
}
.product-price{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 16px auto auto 16px;
}
.product-footer{
    display: grid;
    justify-content: center;

}
.product-button{
    display: block;
    box-sizing: border-box;
    padding: 15px 39px 14px 39px;
    margin-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border-style: 1px;
    border-color: #FF6A6A;
    background-color: #E5E5E5;
}
.product-button:hover{
    background-color: #FF6A6A;
    color: #E5E5E5; 
}
.product-button:active{
    background-color: #E5E5E5;
    color: #F26376;
}
.footer{
    background-color: #222224;
    margin-top: 95px;
}
.advanteges{
    display: grid;
    justify-content: center;
}
.advanteges-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap:30px;
}
.advanteges-item{
    display: grid;
    justify-items: center;
}
.advanteges-photo{
    margin: 103px auto 28px auto;
}
.advanteges-title{
    font-size: 20px;
    font-weight: 400;
    color: #FBFBFB;
    margin-bottom: 16px;
}
.advanteges-text{
    font-size: 14px;
    font-weight: 300;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 104px;
}
.info-for-people{
    display: flex;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    gap:223px;
}
.info-for-people::before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    opacity: 70%;
}
.reviews{
    margin-top: 86px;
    position: relative;
    display: grid;
    grid-row: 2;
    gap: 30 px;
    justify-items: center;
    width: 360px;
    height: 225px;
    margin: 97px auto 126 px auto;
}
.user-photo{
    
    background-size: cover;
    background-repeat: no-repeat;
}
.user-review{
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}
.subscribe{
    position: relative;
    margin-top: 150px;
    margin-bottom: 156px;
    
}
.subscribe-title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.subscribe-text{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.subscribe-forma{
    display: flex;
}
.email-forma{
    display:grid;
    box-sizing: border-box;
    background-color: #E1E1E1;
    width: 256px;
    height: 49px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-content: center;
}
.email-input{
    font-size: 14px;
    font-weight: 400;
    color: #222224;
    margin-left: 22px;
    width: 200px;
    height: 20px;
    display: block;
    border: none;
    background-color: #E1E1E1;
}
.submit-forma{
    display: grid;
    box-sizing: border-box;
    background-color: #F16D7F;
    width: 100px;
    height: 49px;
    align-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}
.submit-forma:hover{
    background-color: #FFFFFF;
    .submit-input{
        color: #F16D7F;
    }
}
.submit-forma:active{
    background-color: #f1e4e6;
    .submit-input{
        color: black;
    }
}
.submit-input{
    display: block;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    width: 85px;
    height: 36px;
    margin-left: 8px;
    
}
.bread-crumbs{
    display: flex;
    justify-content: center;
    gap: 655px;
}
.social-network-list{
    list-style: none;
    display: flex;
    gap: 7px;

}
.social-network-item{
    fill: white;
    margin: 24px auto 23px auto;

}
.letter{
    fill: black;
}
.social-network-item:hover{
    fill: #F16D7F;
    .letter{
        fill: white;
    }
}
.bread-crumbs-creater{
    font-size: 16px;
    font-weight: 400;
    color: #FBFBFB;
    margin: 30px 0;
}

.social-network-item:active{
    fill: #f1e4e6;
    .letter{
        fill: black;
    }
}





@media(max-width: 1024px){
    .center{
        max-width: 768px;
        
    }
    .top-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 386px);
        justify-content: center;
        background-color: #f1e4e6;
    
    }
    .top-wrapper-img{
        height: 368px;
    }
    .top-wrp-name{
        font-size: 44px;
    }
    .top-wrp-text{
        font-size: 24px;
    }
    .menu-table-list{
        margin-bottom: 110px;
    }
    .menu-table-item{
        width: 232px;
        height: 167px;
    }
    li:nth-child(4)>.menu-table-item{
        width: 734px;
        height: 116px;
    }
    .menu-list{
        max-width: 1142px;
        display: grid;
        grid-template-columns: repeat(3, 232px);
        gap:18px;
    }
    .product-table-list{
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 587px);
        gap: 16px;
        margin-top: 73px;
    }
    .product-button{
        margin-top: 32px;
    }
    .advanteges-list{
        display: flex;
        flex-direction: column;
        max-width: 360px;
        width: 100%;
        margin-bottom: 64px;
        
    }
    .advanteges-photo{
        margin-top: 48px;
    }
    .advanteges-text{
        margin-bottom: auto;
    }
    .info-for-people{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 0px;
    }
    .reviews{
        align-items: center;
        margin: 64px auto 48px auto;
    }
    .subscribe{
        margin-top: auto;
        margin-bottom: 140px;
    }
    .bread-crumbs{
        gap: 305px;
    }
}
@media(max-width: 767px){
    .center{
        max-width: 380px;
        
    }
    .top{
        background-color: #f1e4e6;
    }
    .header{
        display: flex;
        justify-content: center;
    }
    .menu{
        justify-content: center;
        gap:30px;
    }
    .top-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 320px);
    }
    .top-wrapper-photo{
        display: none;
    }
    .top-wrapper-name{
        margin-top: 148px;
        margin-bottom: 149px;
    }
    .menu-list{
        max-width: 1142px;
        display: grid;
        grid-template-columns: repeat(1, 343px);
    }
    
    .menu-table-item{
        width: 343px;
        height: 248px;
    }
    li:nth-child(4)>.menu-table-item{
        width: 343px;
        height: 111px;
        background-size: cover;
        background-position: center;
    
    }
    .product-table-list{
        grid-template-columns: repeat(1, 360px);
        gap: 16px;
        margin-top: 73px;
    }
    .product-button{
        margin-top: 40px;
    }
    .product-header-title{
        margin-bottom: 3px;
    }
    .product-header-text{
        margin-bottom: 64px;
    }
    .info-for-people{

    }
    .bread-crumbs{
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        flex-wrap: wrap;
        gap: 0px;
    }
    .social-network-list{
        justify-content: center;
        margin: 43px auto 40px auto;
        
    }
    .bread-crumbs-creater{
        margin: auto auto 9px auto;
    }
    .social-network-item{
        margin:auto;
    }

}